extends layout

block content
    aside#sidebar
        a.logo(href='/')
            img(src='img/logo.png', alt='logo')

        #menu
            ul
                li
                    a(href='/')
                        .fs1(aria-hidden='true', data-icon='')
                        span Dashboard
                li
                    a(href='graphs.html')
                        .fs1(aria-hidden='true', data-icon='')
                        span Agendamento
                li.active
                    a(href='/configuracao')
                        .fs1(aria-hidden='true', data-icon='')
                        span Configurações
                
    .dashboard-wrapper
        header
            ul#left-nav.pull-left
                li.hidden-lg.hidden-md.hidden-sm
                    .logo-mob.clearfix
                        h2
                            .fs1(aria-hidden='true', data-icon='')
                            span UPBackup
                
            .pull-right
                ul#mini-nav.clearfix
                    li.list-box.hidden-xs
                        a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                            .fs1(aria-hidden='true', data-icon='')
                        span.info-label.red-bg.animated.rubberBand 7
                        ul.dropdown-menu.flipInX.animated.messages
                            li.dropdown-header You have 7 messages
                            li
                                .icon
                                    img(src='img/admin10.png', alt='Browser')
                                .details
                                    strong.text-danger Willams
                                    span Firefox is a free, open-source web browser from Mozilla.
                            li
                                .icon
                                    img(src='img/admin6.png', alt='Browser')
                                .details
                                    strong.text-info Sunny
                                    span Internet Explorer is a free web browser from Microsoft.
                            li
                                .icon
                                    img(src='img/admin3.png', alt='Browser')
                                .details
                                    strong.text-info James
                                    span Safari is known for its sleek design and ease of use.
                    li.list-box.hidden-xs
                        a#drop2.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                            .fs1(aria-hidden='true', data-icon='')
                        span.info-label.blue-bg.animated.rubberBand 3
                        ul.dropdown-menu.fadeInUp.animated.messages
                            <li class="dropdown-header">Recent Chat</li>
                            .chats.clearfix
                                p.chat.them James, I'm going to be a little late.
                                p.chat.me S'Okay, Dude. You know your lines...?
                                p.chat.them I know em, I don't know what order they come in...
                                p.chat.me We'll work it out...
                    

                    li.list-box.hidden-xs.dropdown
                        a#drop3.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                            .fs1(aria-hidden='true', data-icon='')
                        span.info-label.green-bg.animated.rubberBand 6
                        ul.flipInX.animated.dropdown-menu.stats-widget.clearfix
                            li
                                h5.text-success $37895
                                p
                                    | Revenue
                                    span.text-success +2%
                                .progress.progress-xs
                                    .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                                        span.sr-only 40% Complete (success)
                            li
                                h5.text-info 47,892
                                p
                                    | Downloads 
                                    span.text-info +39%
                                .progress.progress-xs
                                    .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                                        span.sr-only 40% Complete (info)
                            li
                                h5.text-danger 28214
                                p
                                    | Uploads 
                                    span.text-danger -7%
                                .progress.progress-xs
                                    .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                                    span.sr-only 40% Complete (danger)

                    li.list-box.hidden-xs.dropdown
                        a#drop1.dropdown-toggle.current-user(href='#', role='button', data-toggle='dropdown')
                            | Administrator 
                            b.caret
                        ul.dropdown-menu.sm.fadeInUp.animated.messages
                            li.dropdown-content
                                a(href='#') Licenciamento
                                a(href='/login') Sair

                    li#mob-nav.list-box.hidden-lg.hidden-md.hidden-sm
                        a(href='#')
                            i.fa.fa-reorder     
        
        .main-container
            .top-bar.clearfix
                .page-title
                    h4
                        .fs1(aria-hidden='true', data-icon='')
                        | Configurações 
                        a.samll(href='invoice.html') Parametrizações do sistema
            
            .container-fluid
                // Spacer starts
                .spacer-xs
                    .row.no-gutter
                        .col-md-12.col-sm-6.col-xs-12
                            .panel.panel-default
                                .panel-heading
                                    h4 Conexão com o banco de dados
                                    ul.links
                                        li
                                            a(href='#')
                                                i.fa.fa-list
                                .panel-body
                                    form.form-horizontal.row-border(action='#')
                                        .form-group
                                            label.col-md-2.control-label Banco de dados
                                            .col-md-10
                                                select.form-control
                                                    option Postgres
                                                    option SQL Server
                                                    option MySQL
                                                    option Oracle Database
                                                    option Firebird
                                        .form-group
                                            label.col-md-2.control-label IP do servidor
                                            .col-md-10
                                                input.form-control(type='text', name='regular')
                                            
                                        .form-group
                                            label.col-md-2.control-label Porta
                                            .col-md-10
                                                input.form-control(type='text', name='regular')
                                        
                                        .form-group
                                            label.col-md-2.control-label Usuário
                                            .col-md-10
                                                input.form-control(type='text', name='regular')
                                        
                                        .form-group
                                            label.col-md-2.control-label Senha
                                            .col-md-10
                                                input.form-control(type='text', name='regular')
                                        
                                        .form-group
                                            label.col-md-2.control-label Local de backup
                                            .col-md-10
                                                input.form-control(type='text', name='regular')

                                        .form-group(style='margin-bottom: 0px;')
                                            .col-sm-offset-2.col-sm-6
                                                .col-md-4
                                                    button.btn.btn-success(type='submit') Salvar
                                                .col-md-4
                                                    button.btn.btn-warning(type='submit') Testar conexão

    


                // Spacer ends
                    
            

        footer
            | UPBackup 
            span VR Fortaleza
            


        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='js/jquery.js')
        // Include all compiled plugins (below), or include individual files as needed
        script(src='js/bootstrap.min.js')
        // Animated Right Sidebar
        script(src='js/slidebars.js')
        // Date Range
        script(src='js/daterange/moment.js')
        script(src='js/daterange/daterangepicker.js')
        // Custom JS
        script(src='js/custom.js')

















