extends layout

block content
                    
    .dashboard-wrapper
        header
            ul#left-nav.pull-left
                li.hidden-lg.hidden-md.hidden-sm
                    .logo-mob.clearfix
                        h2
                            .fs1(aria-hidden='true', data-icon='')
                            span UPBackup
                
            .pull-right
                ul#mini-nav.clearfix
                    
                    li.list-box.hidden-xs.dropdown
                        a#drop1.dropdown-toggle.current-user(href='#', role='button', data-toggle='dropdown')
                            | Administrator 
                            b.caret
                        ul.dropdown-menu.sm.fadeInUp.animated.messages
                            li.dropdown-content
                                a(href='#') Licenciamento
                                a(href='/login') Sair

                    li#mob-nav.list-box.hidden-lg.hidden-md.hidden-sm
                        a(href='#')
                            i.fa.fa-reorder     
        
        .main-container
            .top-bar.clearfix
                .page-title
                    h4
                        .fs1(aria-hidden='true', data-icon='')
                        | Configurações 
                        a.samll(href='invoice.html') Parametrizações do sistema
            
            .container-fluid
                // Spacer starts
                .spacer-xs

                    .alert.alert-block.alert-success.fade.in
                        button.close(data-dismiss='alert', type='button', data-original-title='')
                            | x
                        p
                            i.fa.fa-exclamation-triangle
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Conectado com sucesso.

                    .alert.alert-block.alert-danger.fade.in
                        button.close(data-dismiss='alert', type='button', data-original-title='')
                            | x
                        p
                            i.fa.fa-exclamation-triangle
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Não foi possível estabelecer uma conexão com o banco de dados.


                    .row.no-gutter
                        .col-md-12.col-sm-6.col-xs-12
                            .panel.panel-default
                                .panel-heading
                                    h4 Conexão com o banco de dados
                                    ul.links
                                        li
                                            a(href='#')
                                                i.fa.fa-list
                                .panel-body
                                    form.form-horizontal.row-border(action='#')
                                        .form-group
                                            label.col-md-2.control-label Banco de dados
                                            .col-md-10
                                                select.form-control
                                                    option Postgres
                                                    
                                        .form-group
                                            label.col-md-2.control-label IP do servidor
                                            .col-md-10
                                                input.form-control(type='text', name='regular')
                                            
                                        .form-group
                                            label.col-md-2.control-label Porta
                                            .col-md-10
                                                input.form-control(type='text', name='regular')
                                        
                                        .form-group
                                            label.col-md-2.control-label Usuário
                                            .col-md-10
                                                input.form-control(type='text', name='regular')
                                        
                                        .form-group
                                            label.col-md-2.control-label Senha
                                            .col-md-10
                                                input.form-control(type='text', name='regular')
                                        
                                        .form-group
                                            label.col-md-2.control-label Local de backup
                                            .col-md-10
                                                input.form-control(type='text', name='regular')

                                        .form-group(style='margin-bottom: 0px;')
                                            .col-sm-offset-2.col-sm-6
                                                .col-md-4
                                                    button.btn.btn-success(type='submit') Salvar
                                                .col-md-4
                                                    button.btn.btn-warning(type='submit') Testar conexão

    


                // Spacer ends
                    
            

        footer
            | UPBackup 
            span VR Fortaleza
            




















