doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title + ' - UPBackup'
		meta(name='description', content='Cloud Admin Panel')
		meta(name='keywords', content='Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Bootstrap, Light weight Admin Dashboard,Light weight, Light weight Admin, Light weight Dashboard')
		meta(name='author', content='Bootstrap Gallery')
		link(rel='shortcut icon', href='img/favicon.ico')
		// Bootstrap CSS
		link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
		// Animate CSS
		link(href='css/animate.css', rel='stylesheet', media='screen')
		// date range
		link(rel='stylesheet', type='text/css', href='css/daterange.css')
		// Main CSS
		link(href='css/main.css', rel='stylesheet', media='screen')
		// Slidebar CSS
		link(rel='stylesheet', type='text/css', href='css/slidebars.css')
		// Font Awesome
		link(href='fonts/font-awesome.min.css', rel='stylesheet')
		// Metrize Fonts
		link(href='fonts/metrize.css', rel='stylesheet')
		// HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries
		//if lt IE 9
			script(src='js/html5shiv.js')
			script(src='js/respond.min.js')
	body
		aside#sidebar
			a.logo(href='/')
				img(src='img/logo.png', alt='logo')

			#menu
				ul
					li
						a(href='/')
							.fs1(aria-hidden='true', data-icon='')
							span Dashboard
					li
						a(href='/agendamento')
							.fs1(aria-hidden='true', data-icon='')
							span Agendamento
					li
						a(href='/configuracao')
							.fs1(aria-hidden='true', data-icon='')
							span Configurações
			
			
		block content

		
		


	// jQuery (necessary for Bootstrap's JavaScript plugins)
	script(src='js/jquery.js')
	// Include all compiled plugins (below), or include individual files as needed
	script(src='js/bootstrap.min.js')
	// Animated Right Sidebar
	script(src='js/slidebars.js')
	// Date Range
	script(src='js/daterange/moment.js')
	script(src='js/daterange/daterangepicker.js')
	// Custom JS
	script(src='js/custom.js')
