doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Network Helper Dashboard
    // Error CSS
    link(href='css/login.css', rel='stylesheet', media='screen')
    // Animate CSS
    link(href='css/animate.css', rel='stylesheet', media='screen')
    // Font Awesome
    link(href='fonts/font-awesome.min.css', rel='stylesheet')
  body
    block content